.textArea{
    -fx-text-fill: white;
}

.textArea .content{
    -fx-background-color: rgb(0,43,77);
}

.btn{
    -fx-background-color: #335671;
    -fx-effect: dropshadow(three-pass-box, #00000088, 0, 0, 0, 3);
}

.btn:pressed{
    -fx-effect: dropshadow(three-pass-box, #00000000, 0, 0, 0, 3);
    -fx-translate-y: 0px;
}

.gridpane, .anchorpane{
    -fx-background-color: #19415f;
}